<body>

    <form method="POST" enctype="multipart/form-data" action="/validated">
        <input type="file" name="fileName" multiple> <br>
        <input type="submit" value="submit">
    </form>
</body>